#idea
.idea
*.iml
*.class
*.ipr
*.iws
rebel.xml
rebel-remote.xml
out

#gradle
.gradle
build
bin
gradle.properties





#eclipse
.classpath
.project
.settings
classes

#log
logs

## fontend
bower_components
node_modules

# git
*.orig



resources-*

target

stdout.log

.factorypath

local.properties
.vscode
jmeter.log

